---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Welcome to Astro.'>
  <main class='text-center'>
    <h1 class='text-3xl'>
      STEAMBOAT SPRINGS, COLORADO<br />
      10,470 SQ FT<br />
      STONE MOUNTAIN HOME<br />
      35 PRIVATE ACRES <br />
      $10,450,000
    </h1>
    <div class='flex justify-center items-center py-5'>
      <img src='/images/exterior2.jpg' alt='Steamboat House' />
    </div>
    <h1 class='text-3xl'>
      IN STRAWBERRY PARK <br />
      SEPARATE CARETAKER UNIT<br />
      POND, BARN AND CORRAL
    </h1>

    <h1 class='text-3xl mt-8 font-semibold'>Take a 3D Tour</h1>

    <h2 class='my-8'>
      <a
        href='https://my.matterport.com/show/?m=4Dfh5ELJ1pJ'
        class='text-2xl font-medium text-red-600 hover:underline'
        >https://my.matterport.com/show/?m=4Dfh5ELJ1pJ</a
      >
    </h2>
  </main>
</Layout>
