---
import Layout from '../layouts/Layout.astro'
---

<Layout title='test'>
  <h1>Here we go</h1>

  <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text='message'></h1>

  <div x-data='{ count: 0, count2:1 }'>
    <button
      class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
      @mouseenter='count++;count2++'>Increment</button
    >

    <span x-text='count'></span>
    <span x-text='count2'></span>
  </div>
</Layout>
