---
import '../styles/global.css';

interface Props {
  title: string
}
const { title } = Astro.props
const tagId = import.meta.env.PUBLIC_GOOGLE_TAG_ID ?? 'AW-16679746682'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta
      name='google-site-verification'
      content='0Xrr7-nhuS7CNti8qagTuXC_fW79KTtSjLkE8G2PyVc'
    />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta
      name='description'
      content='Steamboat Springs, Colorado house for Sale'
    />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${tagId}`}></script>
    <script define:vars={{ tagId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', tagId);
    </script>
    <script src="https://unpkg.com/alpinejs@3" defer></script>
  </head>
  <body class='bg-sky-300 text-black'>
    <div class='container mx-auto py-4 px-4'>
      <slot />
    </div>
  </body>
</html>
